# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET 8.0 for ubuntu

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  SOLUTION_FILE_PATH: .
  BUILD_CONFIGURATION: Release

jobs:
  build:

    runs-on: 'ubuntu-latest'
    strategy:
      matrix:
        dotnet-version: [ '8.0.x' ]

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET ubuntu
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ matrix.dotnet-version }}
    - name: Restore dependencies ubuntu
      run: dotnet restore Galactic-Shrine.sln
      working-directory: ./
    - name: Build ubuntu
      run: dotnet build Galactic-Shrine.sln --no-restore
      working-directory: ./
    - name: Test ubuntu
      run: dotnet test Galactic-Shrine.sln --no-build --verbosity normal
      working-directory: ./
